# { Module 10 Homework }

1. Import the "babies.xlsx" dataset. See below for information on the columns:

    * bwt - birth weight of newborn baby
    * gestation	- gestation length (weeks)
    * parity - previously pregnant (0 = no; 1 = yes)
    * age - age of mother
    * height - height of mother (inches)	
    * weight - weight of mother (pounds)
    * smoke - smoking status of mother (0 = nonsmoker; 1 = smoker)

In [58]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [59]:
df = pd.read_excel("babies.xlsx")

In [60]:
df.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
3  123        NaN       0  36.0    69.0   190.0    0.0
4  108      282.0       0  23.0    67.0   125.0    1.0

2. Preview the first few rows of the dataset. Complete the following checks for your dataset:

    * output the summary information for the dataset, what types of variables make up this dataset?
    * is there any missing data in this dataset?

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1236 non-null   int64
 1   gestation  1223 non-null   float64
 2   parity     1236 non-null   int64
 3   age        1234 non-null   float64
 4   height     1214 non-null   float64
 5   weight     1200 non-null   float64
 6   smoke      1226 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 67.7 KB

In [62]:
df.isnull().sum()

bwt           0
gestation    13
parity        0
age           2
height       22
weight       36
smoke        10
dtype: int64

In [63]:
df.loc[df.isnull().any(axis = 1)]

      bwt  gestation  parity   age  height  weight  smoke
3     123        NaN       0  36.0    69.0   190.0    0.0
39    128      282.0       0  31.0    65.0     NaN    0.0
42    138      302.0       0  26.0     NaN     NaN    1.0
85    129      274.0       0  29.0    71.0     NaN    1.0
89    114        NaN       0  24.0    67.0   113.0    1.0
...   ...        ...     ...   ...     ...     ...    ...
1044  117      323.0       0  26.0    62.0     NaN    0.0
1177  146      305.0       0  23.0     NaN     NaN    0.0
1190  104      275.0       0  24.0     NaN     NaN    0.0
1192  124        NaN       1  39.0    65.0   228.0    0.0
1215  152      267.0       0  28.0     NaN   119.0    1.0

[62 rows x 7 columns]

3. Handle the missing data in the dataset -- there isn't much, so we can drop all the rows that have at least one missing value. How many rows were dropped from the dataset?

In [64]:
print ("original shape:", df.shape)

df.dropna(inplace = True)

original shape: (1236, 7)

4. There are two qualitative variables in this dataset. What are they? How do you know they are qualitative variables?

In [65]:
df.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
4  108      282.0       0  23.0    67.0   125.0    1.0
5  136      286.0       0  25.0    62.0    93.0    0.0

In [66]:
df.reset_index (drop=True,inplace = True)
               
df.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
3  108      282.0       0  23.0    67.0   125.0    1.0
4  136      286.0       0  25.0    62.0    93.0    0.0

In [67]:
parity, smoke

NameError: name 'parity' is not defined

5. Replace the values in the qualitative variables with meaningful labels that describe the different groups. Use any method you've learned in previous modules to complete this task.

In [68]:
df['parity'].replace([0,1], ["currentPregnancy", "previouspregnancy"], inplace = True)

In [ ]:
df['smoke'].replace([0,1], ["Nonsmoker", "Smoker"], inplace = True)

In [70]:
df.head()

   bwt  gestation            parity   age  height  weight      smoke
0  120      284.0  currentPregnancy  27.0    62.0   100.0  Nonsmoker
1  113      282.0  currentPregnancy  33.0    64.0   135.0  Nonsmoker
2  128      279.0  currentPregnancy  28.0    64.0    77.0     Smoker
3  108      282.0  currentPregnancy  23.0    67.0   125.0     Smoker
4  136      286.0  currentPregnancy  25.0    62.0    93.0  Nonsmoker

## DO NOT DO YET 

6. Before we move forward with any statistics, let's identify and remove any outliers from the dataset. Using the IQR method, search for outliers in the 5 numeric variables. This will take some time and organization, be careful with your code! Make sure you keep track of how many rows/outliers are removed.

7. Describe the characteristics of your qualitative variables by doing the following:

    * Determine the frequencies of each group within each categorical variable. Which groups have the highest frequency?
    * Determine the relative frequencies of each group within each categorical variable. Which groups have the highest relative frequencies?
    * Create a crosstab table using both the categorical variables in your dataset. How many mothers are smokers who have been pregnant before?

In [73]:
df["smoke"].value_counts()

Nonsmoker    715
Smoker       459
Name: smoke, dtype: int64

In [75]:
df["smoke"].value_counts (normalize=True)

Nonsmoker    0.609029
Smoker       0.390971
Name: smoke, dtype: float64

In [77]:
df["parity"].value_counts()

currentPregnancy     866
previouspregnancy    308
Name: parity, dtype: int64

In [78]:
df["parity"].value_counts (normalize=True)

currentPregnancy     0.737649
previouspregnancy    0.262351
Name: parity, dtype: float64

In [81]:
pd.crosstab (df["smoke"], df["parity"])

parity     currentPregnancy  previouspregnancy
smoke
Nonsmoker               525                190
Smoker                  341                118

8. Describe the Measures of Central Tendency (mean, median, mode) of the numeric variables in the dataset. Calculate the mean, median, and mode for all 5 numeric variables. For each median and mode, describe the following:

    * What does the median value tell you about the data?
    * What does the mode value tell you about the data?

In [84]:
print(df["bwt"].mean())
print(df["bwt"].median())
print(df["bwt"].mode())

119.46252129471891
120.0
0    115
dtype: int64

In [85]:
print(df["gestation"].mean())
print(df["gestation"].median())
print(df["gestation"].mode())

279.1013628620102
280.0
0    282.0
dtype: float64

In [86]:
print(df["age"].mean())
print(df["age"].median())
print(df["age"].mode())

27.228279386712096
26.0
0    23.0
dtype: float64

In [87]:
print(df["height"].mean())
print(df["height"].median())
print(df["height"].mode())

64.04940374787053
64.0
0    64.0
dtype: float64

In [88]:
print(df["weight"].mean())
print(df["weight"].median())
print(df["weight"].mode())

131.32623509369677
125.0
0    130.0
dtype: float64

9. Describe the Measures of Variability of the numeric variables in the dataset. Calculate the range, standard deviation, and 85th percentile for all 5 numeric variables. Answer the following questions:

    * Which column has the largest range? Which has the smallest? What does this mean?
    * Which column has the largest standard deviation? Which has the smallest? What does this tell you about those variables?

In [97]:
bwt_range = df["bwt"].max() - df["bwt"].min()
bwt_std = df["bwt"].std()
bwt_85 = np.percentile(df["bwt"],85)

print (bwt_range)
print (bwt_std)
print (bwt_85)

121
18.32867144332098
138.0

In [98]:
gest_range = df["gestation"].max() - df["gestation"].min()
gest_std = df["gestation"].std()
gest_85 = np.percentile(df["gestation"],85)

print (gest_range)
print (gest_std)
print (gest_85)

205.0
16.010305127129392
292.0

In [99]:
age_range = df["age"].max() - df["age"].min()
age_std = df["age"].std()
age_85 = np.percentile(df["age"],85)

print (age_range)
print (age_std)
print (age_85)

30.0
5.817838716855792
34.0

In [101]:
hgt_range = df["height"].max() - df["height"].min()
hgt_std = df["height"].std()
hgt_85 = np.percentile(df["height"],85)

print (hgt_range)
print (hgt_std)
print (hgt_85)

19.0
2.5261015226020365
67.0

In [102]:
wgt_range = df["weight"].max() - df["weight"].min()
wgt_std = df["weight"].std()
wgt_85 = np.percentile(df["weight"],85)

print (wgt_range)
print (wgt_std)
print (wgt_85)

1473.0
54.1038284756229
148.0